*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.elf
*.out
*.app
.project
.metadata
.vscode
nbproject
/test/bin
/cli/*.exe
/cli/srecord
/cli/dev.cc
